package ui

type AlertType string

const (
  AlertSuccess AlertType = "alert-success"
  AlertError   AlertType = "alert-error"
  AlertWarning AlertType = "alert-warning"
  AlertInfo    AlertType = "alert-info"
)

templ GlobalAlert(t AlertType, msg string) {
  <div id="global-alert" >
    <div role="alert" class={ "alert fixed top-4 right-4 z-50 w-80 min-h-14", string(t) }>
      <span>{ msg }</span>
    </div>
  </div>
}

templ GlobalSuccessAlert(msg string) {
  @GlobalAlert(AlertSuccess, msg)
}

templ GlobalInfoAlert(msg string) {
  @GlobalAlert(AlertInfo, msg)
}

templ GlobalWarningAlert(msg string) {
  @GlobalAlert(AlertWarning, msg)
}

templ GlobalErrorAlert(msg string) {
  @GlobalAlert(AlertError, msg)
}