package resource

templ ResourceItem(r Resource) {
	<li id={ r.ID.String() } class="flex justify-between items-center p-2 border rounded">
		<a href={ templ.URL(r.Url) } class="link link-primary truncate flex-1">{ r.Url }</a>
		<span class="text-sm text-gray-500 whitespace-nowrap ml-4">{ r.CreatedAt.Format("02-01-2006 15:04:05") }</span>
	</li>
}

templ SuccessMessage() {
	<p hx-swap-oob="true" id="scrape-result" class="text-green-600">done!</p>
}

templ ExistsMessage() {
	<p hx-swap-oob="true" id="scrape-result" class="text-yellow-600">resource already exist!</p>
}

templ SuccessCreateResource(r Resource) {
	@SuccessMessage()
	@ResourceItem(r)
}
