
package components

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/static/css/output.css"/>
			if title != "" {
				<title>Readers App | { title }</title>
			} else {
				<title>Readers App</title>
			}
		</head>
		<body>
			<nav>
				<a href="/">Home</a>
			</nav>
			{ children... }
		</body>
	</html>
}
